
:root{
   --color-ctas-focused-active-states-links: #4D5AE5;
   --color-overlays-shadows-headings:#2E2F42;
   --color-valid fields-success messages: #31D0AA;
   --color-bodytext: #434455;
   --color-helpertext-Deemphasizedtext: #8e8f99;
   --color-accentcolor-hairlines-subtlebackgrounds: #E7E9FC;
   --color-Light mode backgrounds-light mode dialogs-alerts: #F4F4FD;
   --color-body-background: #FFFFFF;
    }
a{
    text-decoration: none;
}
ul{
    list-style: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

body {
     background-color: var(--color-body-background);
}
.title{ 
    color: var(--color-overlays-shadows-headings);
}
.text{
    color: var(--color-bodytext);
}
.desk{
    color: var(--color-accentcolor-hairlines-subtlebackgrounds); 
}
logo {
    color:var(--color-ctas-focused-active-states-links);

}
site-nav a{
    color: var(--color-overlays-shadows-headings)
}
.site-nav .link:hover, 
.site-nav .link:focus {
color: var(--color-ctas-focused-active-states-links);
}
auth-nav-list a{
    color: var(--color-bodytext)
}

footer {
    background-color: var(--color-overlays-shadows-headings);
}


