body {
    background-color: #E5E5E5;
    color: #434455;
}
logo {
    color:#4D5AE5

}
site-nav a{
    color: #2E2F42;
}
.site-nav .link:hover {
color: #4D5AE5;
}

/* цвет основного текста #2E2F42

/* цвет вторичного текста #434455

/* цвет светлого текста #E7E9FC
/* цвет основного фона #E5E5E5 
/* цвет фона главного сектора, хидера и футера #2E2F42
/* цвет вторичного фона #F4F4FD
/* цвет фона кнопок фильтра: #F4F4FD
/* цвет шрифта кнопок фильтра: #4D5AE5
/* акцент на первой странице кнопка фон #4D5AE5
/* цвет шрифта кнопки акцента #FFFFFF


